.mediaCardLink {
    text-decoration: none;
}

.mediaCardLink p {
    font-size: 0.8rem;
    text-align: center;
    margin: 0;
}

.mediaCard {
    width: 250px;
    height: 250px;
    display: grid;
    place-items: center;
    margin-bottom: 8px;
}

.mediaCardLink p:last-child {
    font-size: 0.5rem;
}

.mediaCard img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    grid-column: 1;
    grid-row: 1;  
    transition: filter 0.5s;

}

.mediaCard svg {
    width: 50%;
    height: 50%;
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
    color: #fdfefe;
    opacity: 0;
    transition: opacity 0.7s;

}

.mediaCard:hover svg {
    opacity: 0.7;
    transition: opacity 0.7s;
}

.mediaCard:hover img {
    filter: brightness(0.8) blur(2px);
    transition: filter 0.5s;
}